NODE_ENV=development
# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
# Backend
NEXT_API_URL=http://localhost:3333
NEXT_PUBLIC_API_URL=https://api.mefqna.dev.rumsan.net
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000

NEXT_PUBLIC_POSTHOG_KEY=enter-your-posthog-api-key
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

DATABASE_URL="postgresql://postgres:your-super-secret-and-long-postgres-password@localhost:5432/mef-qna"